<tr id="turbasa_row_<%= turbasa.id %>">
  <td><%= turbasa.name %></td>
  <td><%= Country.find(turbasa.country_id).name %></td>
  <td><%= Region.find(turbasa.region_id).name %></td>
  <td><%= Town.find(turbasa.town_id).name %></td>
  <td><%= turbasa.contact %></td>
  <td>
    <div class="container">
    <div class="row">
      <div class="col-auto">
        <%= link_to "", turbasa, class: "bi bi-eye-fill", style: "font-size: 25px; color: green;"  %>
      </div>

      <div class="col-auto">
        <%= link_to "", edit_turbasa_path(turbasa), class: "bi bi-pen", style: "font-size: 25px; color: black;" %>
      </div>

      <div class="col-auto">
        <%= link_to "", turbasa, method: :delete, data: {confirm: 'Are you sure?'}, class: "bi bi-trash3", style: "font-size: 25px; color: red;" %>
      </div>
    </div>
  </div>
  </td>
</tr>
