<div id="<%= dom_id turbasa %>">
  <p>
    <strong>Name:</strong>
    <%= turbasa.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= turbasa.country_id %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= turbasa.region_id %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= turbasa.town_id %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= turbasa.contact %>
  </p>

</div>
