<div id="<%= dom_id turbasa %>">
  <p>
    <strong>Название:</strong>
    <%= turbasa.name %>
  </p>

  <p>
    <strong>Страна:</strong>
    <%= Country.find(turbasa.country_id).name %>
  </p>

  <p>
    <strong>Регион:</strong>
    <%= Region.find(turbasa.region_id).name %>
  </p>

  <p>
    <strong>Город:</strong>
    <%= Town.find(turbasa.town_id).name %>
  </p>

  <p>
    <strong>Контакты:</strong>
    <%= turbasa.contact %>
  </p>

</div>
