<%= form_with model: @country do |form| %>
  <% if country.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(country.errors.count, "error") %> prohibited this country from being saved:</h2>

      <ul>
        <% country.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label "Название", class: "form-label mb-2 mt-3" %>
    <%= form.text_field :name, class: "form-control form-control-lg", style: "margin-bottom: 30px;" %>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-auto">
      <%= form.submit "Сохранить", class: "btn btn-primary" %>
    </div>

    <div class="col-auto">
      <%= link_to "Назад", countries_path, class: "btn btn-outline-primary" %>
    </div>
  </div>
</div>
<% end %>