<tr id="town_row_<%= town.id %>">
  <td><%= town.name %></td>
  <td><%= Country.find(town.country_id).name %></td>
  <td><%= Region.find(town.region_id).name %></td>
  <td>
    <div class="container">
    <div class="row">
      <div class="col-auto">
        <%= link_to "Редактировать", edit_town_path(town), class: "btn btn-success" %>
      </div>

      <div class="col-auto">
         <%= button_to "Удалить", town, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
    
   
  </td>
</tr>