<tr id="region_row_<%= region.id %>">
  <td class="col-sm-5"><%= region.name %></td>
  <td class="col-sm-3"><%= Country.find(region.country_id).name %></td>
  <td>
    <div class="container">
    <div class="row">
      <div class="col-auto">
        <%= link_to "", edit_region_path(region), class: "bi bi-pen", style: "font-size: 25px; color: black;" %>
      </div>

      <div class="col-auto">
         <%= button_to "", region, method: :delete, data: {confirm: 'Are you sure?'}, class: "bi bi-trash3", style: "font-size: 25px; color: red; background-color: transparent; border-color: transparent;" %>
      </div>
    </div>
  </div>
  </td>
</tr>