<tr id="region_row_<%= region.id %>">
  <td><%= region.name %></td>
  <td><%= Country.find(region.country_id).name %></td>
  <td>
    <div class="container">
    <div class="row">
      <div class="col-auto">
        <%= link_to "Редактировать", edit_region_path(region), class: "btn btn-success" %>
      </div>

      <div class="col-auto">
         <%= button_to "Удалить", region, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  </td>
</tr>