<%= form_with(model: hostel) do |form| %>
  <% if hostel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hostel.errors.count, "error") %> prohibited this hostel from being saved:</h2>

      <ul>
        <% hostel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div data-controller="forms">
   
    <%= form.collection_select :country_id, Country.order(:name), :id, :name, include_blank: true %>
  </div>

  <div data-controller="forms">
    
    <%= form.grouped_collection_select :region_id, Country.order(:name), :regions, :name, :id, :name, include_blank: true %>
  </div>

  <div>
    
    <%= form.grouped_collection_select :town_id, Country.order(:name), :regions, :name, :id, :name, include_blank: true %>
  </div>

  <div>
    <%= form.label :contact, style: "display: block" %>
    <%= form.text_field :contact %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
