<div id="<%= dom_id hostel %>">
  <p>
    <strong>Name:</strong>
    <%= hostel.name %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= hostel.country %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= hostel.region %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= hostel.town %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= hostel.contact %>
  </p>

</div>
